entrypoints==0.3
flake8==3.7.9
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1


# Deps do pytest
py==1.8.0
six==1.13.0
more-itertools==7.2.0
attrs==19.3.0
pluggy==0.13.0
pytest==5.2.2

-r requirements.txt